
.DS_Store
.eggs/.DS_Store
.eggs/altgraph-0.17.4-py3.9.egg/.DS_Store
.eggs/macholib-1.16.3-py3.9.egg/.DS_Store
.eggs/packaging-24.0-py3.9.egg/.DS_Store
.eggs/py2app-0.28.8-py3.9.egg/.DS_Store
.spyproject/.DS_Store
.spyproject/config/.DS_Store
__pycache__/complexMap.cpython-311.pyc
__pycache__/getInfo.cpython-311.pyc
__pycache__/mainInterface.cpython-311.pyc
__pycache__/makeInterface.cpython-311.pyc
__pycache__/mapInterface.cpython-311.pyc
__pycache__/setup.cpython-311.pyc
images/.DS_Store
previous_versions/.DS_Store
